/*
* @Author: Link
* @Date:   2021-09-09 11:25:01
* @Last Modified by:   Link
* @Last Modified time: 2021-09-09 11:25:01
*/

*{-webkit-tap-highlight-color: transparent;}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

.header-tags a{
color:#fff
}

a{color:#009688;text-decoration:none}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}[hidden],template {
    display: none
}

.avatar{
        width:40px;
        height:40px;
        border-radius:50px;
}

.abort{ border-radius:8px;padding:5px 0px;text-align:center; color:#888; background: linear-gradient(45deg,#eee 25%,#ccc 25%,#ccc 50%,#eee 50%,#eee 75%,#ccc 75%); background-size:100px 100px ;
}

.line a{text-decoration: none;position:relative;cursor:pointer;color:#009688;display:inline-block;Z-index:1}.line a:before{content:"";position:absolute;width:0;right:0;bottom:0;height:2px;background:#90CAF9;-webkit-transition:width .3s ease;transition:width .3s ease}.line a:hover:before{width:100%;left:0;right:auto}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

#instantclick-bar {
  background: #F48FB1;
}

.md-btn {
  position: relative;
  display: inline-block;
  min-width: 88px;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .04em;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  zoom: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: transparent;
  border: none;
  border-radius: 2px;
  outline: none;
  -webkit-transition: all .2s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
          transition: all .2s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
          transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1);
          transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);

  will-change: box-shadow;
  -webkit-user-drag: none;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.md-btn:hover {
  background-color: rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}
.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity 1s;
}
.ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}

.comment-box{
    border-radius:5px;margin:15px 0px;padding:10px;-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.reply-box{
    border-radius:5px;margin:15px 0px;padding:20px 10px 10px 10px;-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.comment-child{
padding:0px !important;margin-top:15px;-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .0);
          box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .0)
}

.comment-box .comment-child{
margin-left: 0px
}

.comment-list{
padding-left:0px;
}

.cimg img{
max-height:25px;
}

.comment-input{
    resize:none;border:0px;border-width: 10px;border-bottom: 2px solid #ddd;width:100%;outline: none;-webkit-transition: 0.2s;
  transition: 0.2s;
    
}

.comment-input:hover{
border-bottom: 3px solid #FF80AB;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #aaa;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aaa;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #aaa;
}

@media (min-width: 767px) {
.comment-input{
    resize:none;border:0px;border-width: 10px;border-bottom: 2px solid #ddd;width:32.982%;outline: none;-webkit-transition: 0.2s;
  transition: 0.2s;
 }
}
.comment-panel{
    border-radius:5px;margin:15px 0px;padding:10px;-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.comment-pagination{
max-width:75%;
}

.comment-pagination li{
padding:5px;
list-style-type: none;
background-color:#fff;
display:inline;
-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.activepage{
padding:5px;
list-style-type: none;
background-color:#eee !important;
display:inline;
-webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2);
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,kbd,pre,samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    outline: none;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

.highlight table td {
    padding: 5px
}

.highlight table pre {
    margin: 0
}

.highlight .cm {
    color: #999988;
    font-style: italic
}

.highlight .cp {
    color: #999999;
    font-weight: bold
}

.highlight .c1 {
    color: #999988;
    font-style: italic
}

.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

.highlight .c,.highlight .cd {
    color: #999988;
    font-style: italic
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .gd {
    color: #E65100;
    background-color: #ffdddd
}

.highlight .ge {
    color: #E65100;
    font-style: italic
}

.highlight .gr {
    color: #aa0000
}

.highlight .gh {
    color: #999999
}

.highlight .gi {
    color: #E65100;
    background-color: #ddffdd
}

.highlight .go {
    color: #888888
}

.highlight .gp {
    color: #555555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #aaaaaa
}

.highlight .gt {
    color: #aa0000
}

.highlight .kc {
    color: #E65100;
    font-weight: bold
}

.highlight .kd {
    color: #E65100;
    font-weight: bold
}

.highlight .kn {
    color: #E65100;
    font-weight: bold
}

.highlight .kp {
    color: #E65100;
    font-weight: bold
}

.highlight .kr {
    color: #E65100;
    font-weight: bold
}

.highlight .kt {
    color: #445588;
    font-weight: bold
}

.highlight .k,.highlight .kv {
    color: #E65100;
    font-weight: bold
}

.highlight .mf {
    color: #009999
}

.highlight .mh {
    color: #009999
}

.highlight .il {
    color: #009999
}

.highlight .mi {
    color: #009999
}

.highlight .mo {
    color: #009999
}

.highlight .m,.highlight .mb,.highlight .mx {
    color: #009999
}

.highlight .sb {
    color: #d14
}

.highlight .sc {
    color: #d14
}

.highlight .sd {
    color: #d14
}

.highlight .s2 {
    color: #d14
}

.highlight .se {
    color: #d14
}

.highlight .sh {
    color: #d14
}

.highlight .si {
    color: #d14
}

.highlight .sx {
    color: #d14
}

.highlight .sr {
    color: #009926
}

.highlight .s1 {
    color: #d14
}

.highlight .ss {
    color: #990073
}

.highlight .s {
    color: #d14
}

.highlight .na {
    color: #008080
}

.highlight .bp {
    color: #999999
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #445588;
    font-weight: bold
}

.highlight .no {
    color: #008080
}

.highlight .nd {
    color: #3c5d5d;
    font-weight: bold
}

.highlight .ni {
    color: #800080
}

.highlight .ne {
    color: #990000;
    font-weight: bold
}

.highlight .nf {
    color: #990000;
    font-weight: bold
}

.highlight .nl {
    color: #990000;
    font-weight: bold
}

.highlight .nn {
    color: #555555
}

.highlight .nt {
    color: #000080
}

.highlight .vc {
    color: #008080
}

.highlight .vg {
    color: #008080
}

.highlight .vi {
    color: #008080
}

.highlight .nv {
    color: #008080
}

.highlight .ow {
    color: #E65100;
    font-weight: bold
}

.highlight .o {
    color: #E65100;
    font-weight: bold
}

.highlight .w {
    color: #bbbbbb
}

.highlight {
    background-color: #f8f8f8
}

.wrapper {
    max-width: -webkit-calc(54em - (30px * 2));
    max-width: calc(54em - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}

@media screen and (max-width: 54em) {
    .wrapper {
        max-width: -webkit-calc(54em - (30px));
        max-width: calc(54em - (30px));
        padding-right: 15px;
        padding-left: 15px
    }
}

.wrapper:after {
    content: "";
    display: table;
    clear: both
}

@-webkit-keyframes fade-in-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(30px)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.fade {
    -webkit-animation: fade-in-down 0.5s;
    animation: fade-in-down 0.5s
}

.site-header {
    border-bottom: 0px solid #e8e8e8;
-webkit-backdrop-filter: saturate(180%) blur(20px);
backdrop-filter: saturate(180%) blur(20px);
    min-height: 55.95px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2),0 5px 8px 0 rgba(0,0,0,0.14),0 1px 14px 0 rgba(0,0,0,0.12);
-webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2),0 5px 8px 0 rgba(0,0,0,0.14),0 1px 14px 0 rgba(0,0,0,0.12);
    position: fixed;
    width: 100%;
    z-index: 50
}

.site-title {
    font-size: 22.4px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-decoration: none;
    color: #ffffff
}

.site-title,.site-title:visited,.site-title:hover {
    color: #ffffff;
    text-decoration: none
}

.site-nav {
    float: right;
    line-height: 54px;
    background-color: transparent
}

.site-nav .nav-trigger {
    display: none
}

.site-nav .menu-icon {
    display: none
}

.site-nav .page-link {
    color: #ffffff;
    line-height: 1.5
}

.site-nav .page-link:not(:last-child) {
    margin-right: 20px
}

@media screen and (max-width: 38em) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: transparent;
        border: 0px solid #e8e8e8;
        border-radius: 5px;
        text-align: right
    }

    .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center
    }

    .site-nav .menu-icon>svg path {
        /*fill: #fff*/
    }

    .site-nav input ~ .trigger {
        clear: both;
        transition: 0.5s;
z-index:0;
    opacity: 0;
    visibility: hidden;
-webkit-transform: translateX(50px);
    transform: translateX(50px);
        margin-top: 47px;
        background-color: #FFFFFF;
        border-radius: 0px;
        -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2),0 5px 8px 0 rgba(0,0,0,0.14),0 1px 14px 0 rgba(0,0,0,0.12);
        box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2),0 5px 8px 0 rgba(0,0,0,0.14),0 1px 14px 0 rgba(0,0,0,0.12);
    }

    .site-nav input:checked ~ .trigger {
        opacity: 1;
    visibility: visible;
-webkit-transform: translateY(0px);
    transform: translateY(0px);
height:auto;
        padding-bottom: 5px
    }

    .site-nav .trigger {
        padding-top: 20px
    }

    .site-nav .page-link {
        color: #E91E63;
        display: block;
        padding: 10px 10px;
        margin-right: 10px;
        margin-left: 10px
    }

    .site-nav .page-link:last-child {
        margin-bottom: 10px;
        margin-right: 20px
    }
}


.site-owo {
    float: right;
    line-height: 54px;
    background-color: transparent
}


.site-owo {
    color: #ffffff;
    line-height: 1.5
}

.site-owo {
    margin-right: 20px
}

    .site-owo {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: transparent;
        border: 0px solid #e8e8e8;
        border-radius: 5px;
        text-align: right
    }

    .site-owo label[for="owo-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer
    }

    .site-owo {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center
    }

    .site-owo {
        fill: #fff
    }

    .site-owo input ~ .owotrigger {
        clear: both;
        transition: 0.5s;
z-index:0;
    opacity: 0;
    visibility: hidden;
-webkit-transform: translateY(50px);
    transform: translateY(50px);
        margin-top: 47px;
        background-color: #FFFFFF;
        border-radius: 0px;
        -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2),0 5px 8px 0 rgba(0,0,0,0.14),0 1px 14px 0 rgba(0,0,0,0.12);
        box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2),0 5px 8px 0 rgba(0,0,0,0.14),0 1px 14px 0 rgba(0,0,0,0.12);
    }

    .site-owo input:checked ~ .owotrigger {
        opacity: 1;
    visibility: visible;
-webkit-transform: translateY(0px);
    transform: translateY(0px);
height:auto;
        padding-bottom: 5px
    }

    .site-owo .owotrigger {
        padding-top: 20px
    }

    .site-owo {
        color: #E91E63;
        display: block;
        padding: 10px 10px;
        margin-right: 10px;
        margin-left: 10px
    }

    .site-owo {
        margin-bottom: 10px
    }

.post-list {
    margin-left: 0;
    list-style: none
}

.post-list>li {
    margin-bottom: 45px
}

.post-list>li>h2 {
    margin-top: 0rem;
    margin-bottom: 0.4rem
}

@media screen and (max-width: 38em) {
    .post-list {
        -webkit-margin-end: 10px;
        -webkit-padding-start: 10px
    }
}

.post-meta {
    font-size: 14px;
    color: #828282
}

.post-link {
    display: block;
    font-size: 24px
}

.tags {
    color: #E91E63;
    font-size: 14px;
    font-weight: bold
}

.meta {
    font-size: 14px;
    margin: -15px 0px 25px
}

.cm-c {
    text-align: center;
    display: block
}

.cm-l {
    float: left;
    width: 33.33%;
    display: block
}

.cm-r {
    float: right;
    width: 33.33%;
    dispaly: block;
    text-align: right
}

.cm-text-left {
    text-align: left;
    display: block
}

.cm-text-center {
    text-align: center;
    display: block
}

.cm-text-right {
    text-align: right;
    display: block
}

.link-chip {
    display: inline-block;
    height: 64px;
    box-sizing: border-box;
    margin: 2px 2px;
    padding-right: 8px;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e0e0e0;
    border-radius: 50px 50px 50px 50px;
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow
}

.link-chip:hover,.link-chip:focus {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12)
}

.link-chip:active {
    background-color: #d6d6d6
}

.link-chip-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    overflow: hidden;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #989898;
    border-radius: 50px
}

.link-chip-icon .link-icon {
    color: #fff
}

.link-chip-title {
    display: inline-block;
    height: 64px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 64px;
    vertical-align: middle;
    margin-bottom: -2px
}

.hy-chip {
  display: inline-block;
  height: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2px 0;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #e0e0e0;
  border-radius: 16px;
  -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);
          transition: -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);
          transition:         box-shadow .25s cubic-bezier(.4, 0, .2, 1);
          transition:         box-shadow .25s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .25s cubic-bezier(.4, 0, .2, 1);

  will-change: box-shadow;
}
.hy-chip:hover,
.hy-chip:focus {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.hy-chip:active {
  background-color: #d6d6d6;
}
/* 左侧的图标 */
.hy-chip-icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: -4px;
  overflow: hidden;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #989898;
  border-radius: 50%;
}
.hy-chip-icon .hy-icon {
  position: absolute;
  top: 4px;
  left: 4px;
  color: #fff;
}
/* 文本 */
.hy-chip-title {
  display: inline-block;
  height: 32px;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 32px;
  vertical-align: middle;
}
/* 删除按钮 */
.hy-chip-delete {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  margin-left: -8px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  opacity: .54;
  -webkit-transition: opacity .25s cubic-bezier(.4, 0, .2, 1);
          transition: opacity .25s cubic-bezier(.4, 0, .2, 1);

  will-change: opacity;
}
.hy-chip-delete:hover,
.hy-chip-delete:focus {
  opacity: .87;
}

.card .box {
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    left: -50px
}

.card .box .fill {
    width: 100px;
    height: 100px;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.translateX:hover .fill {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    position: fixed;
    bottom: 15px;
    left: -50px
}

.cardA .boxA {
    width: 150px;
    height: 80px;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    left: -50px
}

.cardA .boxA .fillA {
    width: 150px;
    height: 80px;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.translateA:hover .fillA {
    -webkit-transform: translateX(50px);
    transform: translateX(390px);
    position: fixed;
    bottom: 15px;
    left: -50px
}

.form-group {
  position: relative;
  font-size: 15px;
  color: #CFD8DC;
}
.form-group + .form-group {
  margin-top: 30px;
}
.form-group .form-label {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-appearance:none;
}
.form-group .form-control {
  width: 100%;
  position: relative;
  z-index: 3;
  height: 35px;
  background: none;
  border: none;
  padding: 5px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 2px solid #CFD8DC;
}
.form-group .form-control:invalid {
  outline: none;
}
.form-group .form-control:focus, .form-group .form-control:valid {
  outline: none;
  color: #37474F;
  box-shadow: 0 1px #FF4081;
  border-color: #FF4081;
}
.form-group .form-control:focus + .form-label, .form-group .form-control:valid + .form-label {
  font-size: 12px;
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  color: #E91E63;
}

* {
    box-sizing: border-box
}

::selection {
    background: #FCE4EC
}

::-moz-selection {
    background: #F44336;
    color: #fff
}

@font-face {
    font-family:mdFont;src:url(https://cdn.bootcss.com/mdui/0.4.0/fonts/roboto/Roboto-Regular.woff)
}

body {
    padding: 0;
    margin: 0;
    font-family: "mdFont", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71
}

@media (max-width: 767px) {
    .funny {
        display: none
    }
}


a:hover {
    /*text-decoration: underline*/
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s
}

.btn:hover {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    background-color: rgba(255,255,255,0.2);
    border-color: rgba(255,255,255,0.3)
}

.btn+.btn {
    margin-left: 1rem
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem
    }

    .btn+.btn {
        margin-top: 1rem;
        margin-left: 0
    }
}

.page-header {
    color: #fff;
    text-align: center;
    margin-top: 0px;
    background-color: #B0BEC5 !important
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 4rem 4rem 3rem
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 3.5rem 1rem 2rem
    }
}

.project-name {
    margin-top: 55.95px;
    margin-bottom: 0.1rem
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem
    }
}

.project-tagline {
    margin-bottom: 2rem;
    font-weight: normal;
    opacity: 0.7
}

@media screen and (min-width: 64em) {
    .project-tagline {
        font-size: 1.25rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
        font-size: 1.15rem
    }
}

@media screen and (max-width: 42em) {
    .project-tagline {
        font-size: 1rem
    }
}

.project-date {
    margin-bottom: 0rem;
    font-weight: normal;
    opacity: 0.7
}

@media screen and (min-width: 64em) {
    .project-date {
        font-size: 1.0rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-date {
        font-size: 0.95rem
    }
}

@media screen and (max-width: 42em) {
    .project-date {
        font-size: 0.75rem
    }
}

.main-content {
    word-wrap: break-word
}

.main-content :first-child {
    margin-top: 0
}

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 64rem;
        padding: 3rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 3rem 4rem;
        font-size: 1.1rem
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem
    }
}

.main-content img {
    max-width: 100%
}

.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957
}

.main-content p {
    margin-bottom: 1em
}

.main-content code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #567482;
    background-color: #f3f6fa;
    border-radius: 0.3rem
}

.main-content pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem
}

.main-content pre>code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
}

.main-content .highlight {
    margin-bottom: 1rem
}

.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal
}

.main-content .highlight pre,.main-content pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch
}

.main-content pre code,.main-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.main-content pre code:before,.main-content pre code:after,.main-content pre tt:before,.main-content pre tt:after {
    content: normal
}

.main-content ul,.main-content ol {
    margin-top: 0;
}

.main-content blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0
}

.main-content blockquote>:first-child {
    margin-top: 0
}

.main-content blockquote>:last-child {
    margin-bottom: 0
}

.main-content table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    -webkit-overflow-scrolling: touch
}

.main-content table th {
    font-weight: bold
}

.main-content table th,.main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec
}

.main-content dl {
    padding: 0
}

.main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold
}

.main-content dl dd {
    padding: 0;
    margin-bottom: 1rem
}

.main-content hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0
}

.site-footer {
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1
}

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem;
        margin-bottom: 0.5rem
    }
}

.site-footer-owner {
    display: block;
    font-weight: bold
}

.site-footer-credits {
    color: #819198
}

.site-footer .my-span-icon a {
    text-decoration: none
}

.site-footer .my-span-icon a:hover {
    text-decoration: none
}

@media screen and (min-width: 64em) {
    .site-footer .my-span-icon {
        padding: 0px 5px 0px 5px
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer .my-span-icon {
        padding: 0px 10px 10px 10px
    }
}

@media screen and (max-width: 42em) {
    .site-footer .my-span-icon {
        padding: 0px 10px 10px 10px
    }
}

.site-footer .my-svg-icon {
    color: #606c71;
    fill: #606c71;
    width: 24px;
    height: 24px
}

.site-footer .my-svg-icon:hover {
    text-decoration: none;
    color: #159957;
    fill: #159957;
    transform: scale(1.25);
    transition: color 0.5s,transform 0.2s ease-out
}

/*淡入动画*/

@-webkit-keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(68px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(68px); }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*淡出动画*/

@-webkit-keyframes fade-out-down {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
}

@keyframes fade-out-down {
  from {
    opacity: 1;
    transform: translateY(0); }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}

.fade{
  -webkit-animation: fade-in-down 0.6s ease;
  animation: fade-in-down 0.6s ease;
}

.OwO-open{
  -webkit-animation: fade-in-down 0.5s;
  animation: fade-in-down 0.5s;
}

.OwO-exit{
  -webkit-animation: fade-out-down 0.5s;
  animation: fade-out-down 0.5s;
}

@media screen and (min-width: 64em) {
    .site-footer .my-svg-icon {
        width: 28px;
        height: 28px
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer .my-svg-icon {
        width: 32px;
        height: 32px
    }
}

@media screen and (max-width: 42em) {
    .site-footer .my-svg-icon {
        width: 36px;
        height: 36px
    }
}
