
.icon-comment{
height:12px;
width:12px;
display:inline-block;
background-position:center center;
background-repeat:no-repeat;
background-size: 12px 12px;
background-image:url(/usr/themes/Protium/assets/icon/comment.svg)
}
.icon-delete{
height:18px;
width:18px;
display:inline-block;
background-position:center center;
background-repeat:no-repeat;
background-size: 18px 18px;
background-image:url(/usr/themes/Protium/assets/icon/delete.svg)
}
.icon-edit{
height:12px;
width:12px;
display:inline-block;
background-position:center center;
background-repeat:no-repeat;
background-size: 12px 12px;
background-image:url(/usr/themes/Protium/assets/icon/edit.svg)
}
.icon-file{
display:inline-block;
background-position:center center;
background-repeat:no-repeat;
background-image:url(/usr/themes/Protium/assets/icon/file.svg)
}
.icon-light{
display:inline-block;
background-position:center center;
background-repeat:no-repeat;
background-image:url(/usr/themes/Protium/assets/icon/light.svg)
}
.icon-night{
display:inline-block;
background-position:center center;
background-repeat:no-repeat;
background-image:url(/usr/themes/Protium/assets/icon/night.svg)
}
.icon-search{
height:18px;
width:18px;
display:inline-block;
background-position:center center;
background-repeat:no-repeat;
background-size: 18px 18px;
background-image:url(/usr/themes/Protium/assets/icon/search.svg)
}
.icon-send{
height:18px;
width:18px;
display:inline-block;
background-position:center center;
background-repeat:no-repeat;
background-size: 18px 18px;
background-image:url(/usr/themes/Protium/assets/icon/send.svg)
}
.icon-style{
display:inline-block;
background-position:center center;
background-repeat:no-repeat;
background-image:url(/usr/themes/Protium/assets/icon/style.svg)
}
.icon-tags{
height:12px;
width:12px;
display:inline-block;
background-position:center center;
background-repeat:no-repeat;
background-size: 12px 12px;
background-image:url(/usr/themes/Protium/assets/icon/tags.svg)
}
.icon-time{
height:12px;
width:12px;
display:inline-block;
background-position:center center;
background-repeat:no-repeat;
background-size: 12px 12px;
background-image:url(/usr/themes/Protium/assets/icon/time.svg)
}
